<mat-toolbar color="accent">
  <span>Wie betaald Wie</span>
  <span class="toolbar"></span>
</mat-toolbar>

<form [formGroup]="deelnemerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Naam"
             formControlName="naam">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!deelnemerForm.get('naam').valid && deelnemerForm.get('naam').touched">Oeps.</span>
    </mat-error>

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Inleg"
             formControlName="inleg">
    </mat-form-field>
    <mat-error>
      <span *ngIf="!deelnemerForm.get('inleg').valid && deelnemerForm.get('inleg').touched">Bijvoorbeeld '10.35'</span>
    </mat-error>
  </div>

  <button mat-button
          [disabled]="!deelnemerForm.valid"
          class="btn btn-primary center-block"
          type="submit">
    Add
  </button>

  <button mat-button
          [disabled]="deelnemers.length===0"
          (click)="onClearDeelnemers()">
    Opnieuw
  </button>

</form>

<!-- Display deelnemers -->
<div *ngIf="deelnemers.length > 0">
  <h2>Wie heeft wat betaald</h2>
  <ul>
    <li *ngFor="let deelnemer of deelnemers">
      {{deelnemer.name}} heeft {{deelnemer.inleg | currency:'EUR'}} betaald
    </li>
  </ul>
</div>

<div *ngIf="kasboek">
  Totaal is verbrast voor {{kasboek.totaal | currency:'EUR'}}
</div>

<!--Display kasboek-->
<div *ngIf="kasboek">
  <h2>De betaalverzoekjes</h2>

  <ul>
    <li *ngFor="let item of kasboek.items">
      {{item.van}} betaald {{item.naar}} {{item.bedrag | currency:'EUR'}}
    </li>
  </ul>
</div>


